<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  	<title>HKS</title>
    <!-- Hotjar Tracking Code for my site -->
<!-- Hotjar Tracking Code for HK software -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-539EKQ502T"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-539EKQ502T');
</script>
</head>
<body data-theme="theme-1">

    <script src="https://in3.taskanalytics.com/tm.js"></script>
    <script>
    window.TA = window.TA||function(){(TA.q=TA.q||[]).push(arguments);};
    window.TA("start", "20", "en");
    </script>

</body>
</html>
